<!-- Assistant Secretery -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row" style="border-bottom: 1px solid #0000000d;">
                <div class="col-md-6">
                    <h5 class="headingValue">Case Item Detailed View </h5>
                   
                </div>
                <div class="col-md-6 text-right">
                    
                    <button class="globalBtn submitBtn" [routerLink]="['../arplmatterview','106', '6']"> Back</button>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="heading">
                        Complaint Id
                    </div>
                    <div class="subheadingValue">
                       DCI/GC/2020/5
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="heading">
                        Complaint Against
                    </div>
                    <div class="subheadingValue">
                      DCI
                    </div>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div >
                    	<h5 class="headingValue" >Section Head</h5>
                         <p style="font-size: 12px;">2020-09-05 08:24 PM</p>
                    <div class="subheadingValue">
                        <p>
                            Assign to SSA
                        </p>

                        <h5 class="headingValue">Section Executive</h5>
                         <p style="font-size: 12px;">2020-09-05 08:24 PM</p>
                    <div class="subheadingValue">
                        <p>
                            SE created agenda
                        </p>
                    </div>

                       
                       
                    </div>
                   </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="headingValue">Complainant Details</h6>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="heading">
                        Name
                    </div>
                    <div class="subheadingValue">
                       Sunil Sharma
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="heading">
                        Mobile Number
                    </div>
                    <div class="subheadingValue">
                       123456789
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="heading">
                        Email ID
                    </div>
                    <div class="subheadingValue">
                       sunildemo@gmail.com
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="heading">
                        Address
                    </div>
                    <div class="subheadingValue">
                       R s Nagar Hyderabad,Hyderabad, 1500044,1
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12">
                    <h6 class="headingValue">Complaint Details</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="heading">
                        Subject
                    </div>
                    <div class="subheadingValue">
                        Complaint on DCI - Sample Subject
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="heading">
                        Complaint Type
                    </div>
                    <div class="subheadingValue">
                        Complaint
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="heading">
                        Complaint Description
                    </div>
                    <div class="subheadingValue">
                       Complaint Description- Sample Description
                    </div>
                </div>
            </div>
            <div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h6 class="headingValue">Evidence Documents</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="iconCard" >
                            <span><i class="far fa-file-alt docIcons">1</i> </span>
                            <a href="" class="downloadView">
                                <i class="fas fa-eye" style=" cursor: pointer;color: #3D78BE;"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
           
        </div>
    </div>
</div>





