<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-9">
                    <h5 class="headingValue">Claim Status</h5>
                </div>
                <div class="col-md-3 text-right">
                   
                </div>
            
            </div>
            <hr />
            
             <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                   
                                      <select class="form-control">

                   <option value="Select Country" selected="">Select State</option>
                   <option  value="">
                      Andhra Pradesh
                   </option>
                   <option  value="">
                      Telangana
                   </option>
                   
                </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    
                                      <select class="form-control">
                                       
                   <option value="Select Country" selected="">Select City</option>
                   <option  value="">
                    Hyderabad
                   </option>
                   <option  value="">
                      Vijayawada
                   </option>
                   
                </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    
                                    <input type="date" class="form-control" id="regNo" />

                                </div>
                            </div>


                            <div class="col-md-3">
                                
                                <button type="button" class="btn btn-primary" id="search" >Search</button>
                            </div>
                        </div>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-hover">
                                <thead class="theadRow">
                                    <tr>
                                        <th>S.No</th>
                                        <th>Inspection Id</th>
                                        <th>Claim Id</th>
                                        <th>Amount</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                         <th>Action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>DCI/INSP/205</td>
                                        <td>DCI/CLAIM/18/</td>
                                        <td>9000</td>
                                        <td>30-05-2020</td>
                                        <td><span class="badge badge-pill badge-success" style="color: white;width: 120px !important;">Paid </span></td>
                                        <td></td>
                                      
               
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>DCI/INSP/204</td>
                                        <td>DCI/CLAIM/19</td>
                                        <td>12000</td>
                                        <td>20-06-2020</td>
                                         <td><span class="badge badge-pill badge-danger" style="color: white;width: 120px !important;">Rejected</span></td>
                                        <td><span class="btn-sm btn btn-success">Re Submit </span></td>
                                       
                                    </tr>
                                     <tr>
                                        <td>3</td>
                                        <td>DCI/INSP/203</td>
                                        <td>DCI/CLAIM/21</td>
                                        <td>15000</td>
                                        <td>27-06-2020</td>
                                        <td><span class="badge badge-pill badge-info" style="color: white;width: 120px !important;">Submitted</span></td>
                                        <td><span class="btn-sm btn btn-success">View </span></td>
                                       
                                    </tr>
                                     
                                </tbody>
                                <!-- <p>No Data</p> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>