<div class="row">
   <div class="col-md-12">
      <div class="card">
         <div class="row">
            <div class="col-md-9">
               <h5 class="headingValue">Claim Details</h5>
            </div>
            <div class="col-md-3 text-right">
              <button name="submit" id="submit"  class="btn btn-success btn-sm">Approve</button>&nbsp;<button  class="btn btn-info btn-sm">Download Bill</button>&nbsp;<button name="submit" id="submit"  class="btn btn-danger btn-sm">Reject</button>
            </div>
         </div>
        
         <hr>
         <div class="row">
         <div class="col-md-4"><b>Inspection Id :</b><span class="text-primary mx-3">INSP/2020/201</span></div>
         <div class="col-md-3"><b>Claim Id : </b><span class="text-primary mx-3">CLAIM/2020/101</span></div>
         <div class="col-md-4"><b>Date :</b><span class="text-primary mx-3">09-06-2020 - 10-06-2020</span></div>
     </div>

     <hr>
         <div class="row">
             <div class="col-md-4 font-weight-bold">Claimed : </div><div class="col-md-2">Cost : 4200</div><div class="col-md-2 text-left">Charge : 1200</div><div class="col-md-2 text-left">GST : 500</div></div>
             <hr>
             <div class="row">
             <div class="col-md-4 font-weight-bold">Final Approved : </div>
            <div class="col-md-2">Cost : 4200</div><div class="col-md-2 text-left">Charge : 1200</div><div class="col-md-2 text-left">GST : 500</div>
         </div>


             <hr>
         <div class="body-container">
             
         <div class="row gutters-sm">
          <div class="col-md-12 d-none d-md-block pl-0">
          <div class="" style="background: #fff">
            <div class="card-body" style="padding: 11px 9px 11px 21px;">

              <nav class="nav list-inline nav-pills nav-gap-y-1">
                <a href="#profile" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded active">
                 Ram Veer
                </a>
                <a href="#account" data-toggle="tab" class="nav-item nav-link has-icon nav-link-faded">
                Suman
                </a>
               
              </nav>
            </div>
          </div>
        </div>

        <div class="col-md-12 pl-0" >
          <div class="card p-2">
          
            <div class="card-body tab-content p-0">
              <div class="tab-pane active" id="profile">
                
                <div class=" bootstrap snippet">
    <div class="div">
        <div class="col-sm-12">
            <div class="panel-group drop-accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                      <h4 class="panel-title">
                        <a class="collapse-controle"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           Outward Leg
                            <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               <span class="expand-icon-wrap">
                              <span class="fa-stack fa-sm">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            </button>
                        </a>
                      </h4>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="panel-body">
                  
           <div id="hoteldiv1" class="div2 scroller">
            <h5 class="contact-information">Flight Details</h5>
                <table id="jroadtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="12%"  rowspan="2">Date</th>
                     <th   colspan="2"> Place</th>
                      <th rowspan="2">Ticket
                     </th>
                      <th  colspan="3" style="text-align: center;"> Submitted</th>
                      <th  colspan="3" style="text-align: center;"> Approved</th>
                  </tr>
                  <tr>
                     <th width="10%">From</th>
                     <th width="10%">To</th>
                     <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                      <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" id="table4date00" name="table4date00" class="form-control table4dateclass" disabled value="03-06-2020"></td>
                     <td><input type="text" id="table4From00" class="form-control hasDatepicker" name="table4From00" disabled value="Delhi"></td>
                     <td><input type="text" id="table4TO00" class="form-control" name="table4TO00" disabled value="Hyd"></td>
                      <td>Download</td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00" placeholder="Rs." class="form-control" value="5500" disabled>
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" class="form-control" value="100" disabled>
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="6%" disabled> 
                     </td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00" placeholder="Rs." class="form-control" value="5500" >
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" class="form-control" value="100">
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="600"> 
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>

          <hr>
           <div id="hoteldiv2" class="div3 scroller">
            <h5 class="contact-information">Train Details</h5>
             <table id="jroadtable10" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="12%"  rowspan="2">Date</th>
                     <th   colspan="2"> Place</th>
                      <th rowspan="2">Ticket
                     </th>
                      <th  colspan="3" style="text-align: center;"> Submitted</th>
                      <th  colspan="3" style="text-align: center;"> Approved</th>
                  </tr>
                  <tr>
                     <th width="10%">From</th>
                     <th width="10%">To</th>
                     <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                      <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" id="table4date00" name="table4date00" class="form-control table4dateclass" disabled value="04-06-2020"></td>
                     <td><input type="text" id="table4From00" class="form-control hasDatepicker" name="table4From00" disabled value="Hyd"></td>
                     <td><input type="text" id="table4TO00" class="form-control" name="table4TO00" disabled value="Vijaywada"></td>
                      <td>Download</td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00"  class="form-control" value="800" disabled>
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" class="form-control" value="50" disabled>
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="120" disabled> 
                     </td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00" class="form-control" value="800" >
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" class="form-control" value="50">
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="80"> 
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>

          <hr>
                             <div id="hoteldiv0" class="div2 scroller">
            <h5 class="contact-information">Hotel Details</h5>
            <table id="hoteltable0" class="table table-striped table-bordered table-sm">
               <!--                            width:1185px;-->
               <thead>
                  <tr>
                     <th  colspan="2"></th>
                      <th  rowspan="3">Ticket</th>
                      <th  colspan="3" style="text-align: center;"> Submitted</th>
                      <th  colspan="3" style="text-align: center;"> Approved</th>
                  </tr>
                  <tr>
                     <th width="16%">From</th>
                     <th width="16%">To</th>
                      <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                      <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                  </tr>
                   
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" id="table2From00" name="table2From00" class="form-control table2Fromclass hasDatepicker"  disabled value="05-06-2020" ></td>
                     <td><input type="text" id="table2TO00" name="table2TO00" class="form-control table2Toclass hasDatepicker" disabled value="07-06-2020" ></td>

                     <td>Download</td>

                     <td><input type="text" id="totalPaid00" name="totalPaid00" placeholder="Rs." class="form-control" value="1800" disabled>
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" class="form-control" value="800" disabled>
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="5%" disabled> 
                     </td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00" placeholder="Rs." class="form-control" value="1800" >
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" class="form-control" value="800" >
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="150"> 
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <hr>
         <div id="jroaddiv0" class="div4 scroller">
            <h5 class="contact-information">Cab Details</h5>
            <table id="jroadtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="16%" rowspan="2">Date</th>
                     <th width="30" colspan="2"> Place</th>
                     <th  colspan="3" style="text-align: center;"> Submitted</th>
                      <th  colspan="3" style="text-align: center;"> Approved</th>

                   
                  </tr>
                  <tr>
                     <th width="12%">From</th>
                     <th width="12%">To</th>
                      <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                      <th>Amount</th>
                     <th>Charge</th>
                     <th>GST <small>(Amt)</small></th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" id="table4date00" name="table4date00" class="form-control table4dateclass" disabled value="02-06-2020"></td>
                     <td><input type="text" id="table4From00" class="form-control hasDatepicker" name="table4From00" disabled value="Grand hotel"></td>
                     <td><input type="text" id="table4TO00" class="form-control" name="table4TO00" disabled value="SRM College"></td>
                     <td><input type="text" id="totalPaid00" disabled name="totalPaid00" placeholder="Rs." value="250" class="form-control">
                     </td>
                     <td><input type="text" id="dailyRate00" disabled name="dailyRate00" style="text-align: center" class="form-control">
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" disabled value="120" class="form-control" name="table2remark00"> 
                     </td>
                       <td><input type="text" id="totalPaid00"  name="totalPaid00"  value="250" class="form-control">
                     </td>
                     <td><input type="text" id="dailyRate00"  name="dailyRate00"  class="form-control">
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00"  value="120" class="form-control" name="table2remark00"> 
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- table4 ends-->
          

              <hr>
         <div id="fooddiv0" class="div5 scroller">
            <h5 class="contact-information">Others</h5>
            <table id="foodtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="20%">Type</th>
                     <th width="20%">Bill No.</th>
                      <th>Upload Bill</th>
                      <th>Supporting Doc</th>
                     <th width="20%">Date</th>
                     <th width="20%">Amount</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td style="text-align: center"><input type="text" id="foodType00" name="foodType00" class="form-control" value="Food" disabled>
                     </td>
                     <td style="text-align: right"><input type="text" id="billNo00" name="billNo00" class="form-control"  value="1001001" disabled></td>
                     <td>Download</td>
                     <td>Download</td>
                     <td><input type="text" id="table5Date00" name="table5Date00" class="form-control table5dateclass" value="05-06-2020" disabled></td>
                     <td><input type="text" id="foodrate00" name="foodrate00" placeholder="Rs." class="form-control" value="600" disabled></td>
                  </tr>
               </tbody>
            </table>
           
            <!-- table5 ends-->
         </div>

         

            
         </div>


                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapse-controle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Return Leg
                                 <button class="d-flex align-items-center justify-content-between btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               <span class="expand-icon-wrap">
                              <span class="fa-stack fa-sm">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
                                </span>
                            </span>
                            </button>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                      <div class="panel-body">
            
           <div id="hoteldiv1" class="div2 scroller">
            <h5 class="contact-information">Flight Details</h5>
                 <table id="jroadtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="20%" rowspan="2">Date</th>
                     <th width="30" colspan="2"> Place</th>
                      <th style="width: 50px" rowspan="2">Ticket
                     </th>
                     <th style="width: 50px" rowspan="2">Amount
                     </th>
                     <th style="width: 80px" rowspan="2"> Charge</th>
                     
                     <th style="width: 30px" rowspan="2">GST <small>(Amt)</small></th>
                  </tr>
                  <tr>
                     <th width="15%">From</th>
                     <th width="15%">To</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" id="table4date00" name="table4date00" class="form-control table4dateclass" disabled value="03-06-2020"></td>
                     <td><input type="text" id="table4From00" class="form-control hasDatepicker" name="table4From00" disabled value="Delhi"></td>
                     <td><input type="text" id="table4TO00" class="form-control" name="table4TO00" disabled value="Hyd"></td>
                      <td>Download</td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00" placeholder="Rs." class="form-control" value="5500"  disabled>
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" style="text-align: center" class="form-control" value="100" disabled>
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" class="form-control" name="table2remark00" value="6%" disabled> 
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>

          <hr>
           <div id="hoteldiv2" class="div3 scroller">
            <h5 class="contact-information">Train Details</h5>
           <table id="jroadtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="20%" rowspan="2">Date</th>
                     <th width="30" colspan="2"> Place</th>
                      <th style="width: 50px" rowspan="2">Ticket
                     </th>
                     <th style="width: 50px" rowspan="2">Amount
                     </th>
                     <th style="width: 80px" rowspan="2"> Charge</th>
                     
                     <th style="width: 30px" rowspan="2">GST <small>(Amt)</small></th>
                  </tr>
                  <tr>
                     <th width="15%">From</th>
                     <th width="15%">To</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" disabled  id="table4date00" name="table4date00" class="form-control table4dateclass"></td>
                     <td><input type="text" disabled id="table4From00" class="form-control hasDatepicker" name="table4From00"></td>
                     <td><input type="text"disabled id="table4TO00" class="form-control" name="table4TO00"></td>
                     <td style="width: 80px">&nbsp;&nbsp;</td>
                     <td><input type="text" disabled id="totalPaid00" name="totalPaid00"  class="form-control">
                     </td>
                     <td><input type="text"  disabled id="dailyRate00" name="dailyRate00"  class="form-control">
                     </td>
                     
                     <td>
                        <input type="text" disabled id="table2remark00" class="form-control" name="table2remark00"> 
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>

          <hr>
         <div id="jroaddiv0" class="div4 scroller">
            <h5 class="contact-information">Cab Details</h5>
            <table id="jroadtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="31%" rowspan="2">Date</th>
                     <th width="30" colspan="2"> Place</th>
                     <th style="width: 50px" rowspan="2">Amount
                     </th>
                     <th style="width: 80px" rowspan="2"> Charge</th>
                     
                     <th style="width: 30px" rowspan="2">GST</th>
                  </tr>
                  <tr>
                     <th width="15%">From</th>
                     <th width="15%">To</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td><input type="text" id="table4date00" name="table4date00" class="form-control table4dateclass" disabled value="02-06-2020"></td>
                     <td><input type="text" id="table4From00" class="form-control hasDatepicker" name="table4From00" disabled value="Grand hotel"></td>
                     <td><input type="text" id="table4TO00" class="form-control" name="table4TO00" disabled value="SRM College"></td>
                     <td><input type="text" id="totalPaid00" name="totalPaid00" disabled placeholder="Rs." value="250" class="form-control">
                     </td>
                     <td><input type="text" id="dailyRate00" name="dailyRate00" disabled class="form-control">
                     </td>
                     
                     <td>
                        <input type="text" id="table2remark00" value="120" class="form-control" name="table2remark00" disabled> 
                     </td>
                  </tr>
               </tbody>
            </table>
            <!-- table4 ends-->
        

              <hr>
         <div id="fooddiv0" class="div5 scroller">
            <h5 class="contact-information">Others</h5>
            <table id="foodtable0" class="table table-striped table-bordered">
               <thead>
                  <tr>
                     <th width="25%">Type</th>
                     <th width="30">Bill No.</th>
                     <th width="25%">Date</th>
                     <th width="25%">Amount</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td style="text-align: center"><input type="text" id="foodType00" name="foodType00" class="form-control">
                     </td>
                     <td style="text-align: right"><input type="text" id="billNo00" name="billNo00" class="form-control" disabled></td>
                     <td><input type="date" id="table5Date00" name="table5Date00" class="form-control table5dateclass" disabled></td>
                     <td><input type="text" id="foodrate00" name="foodrate00" placeholder="Rs." disabled class="form-control"></td>
                  </tr>
               </tbody>
            </table>
           
            <!-- table5 ends-->
         </div>


            
         </div>


                        </div>
                    </div>
                </div>
               
            </div>
            <!-- /#accordion -->
        </div>
    </div>
 </div>
               
              </div>
              <div class="tab-pane" id="account">
                <h6></h6>
                <hr>
               
              </div>
          
            </div>
          </div>
        </div>
      </div>
   </div>

      </div>
   </div>
</div>