ul.breadcrumb {
    padding: 9px 16px;
    list-style: none;
    background-color: #74a8e5;
    margin-left: 1px;
    border-radius: 0;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #fff;
    content: " >";
}

ul.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}