<div class="row">
    <div class="col-md-12">
        <div class="card">
            <form [formGroup]="searchForm">
                <div class="row">
                    <div class="col-md-4">
                        <label>Academic Year:</label>
                        <input type="text" class="form-control" placeholder="Academic Year" formControlName="academicYear">
                    </div>
                    <div class="col-md-4">
                        <label>Course:</label>
                        <select class="form-control" (change)="specializations($event.target.value)" [(ngModel)]="course" formControlName="academicCourse">
                            <option value="" disabled selected style="color:orange">Select Course </option>
                            <option *ngFor="let sec of courseList" [value]="sec.courseId">
                                {{sec.courseName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Specialization:</label>
                        <select class="form-control" [(ngModel)]="specializationName" formControlName="academicSpe">
                            <option value="" disabled selected style="color:orange">Select Specialization </option>
                            <option *ngFor="let sec of specializationData" [value]="sec.specialisationId">
                                {{sec.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-md-4">
                        <label>Pursuing Year:</label>
                        <select class="form-control" [(ngModel)]="pursuingYear" formControlName="academicPursingYear">
                            <option value="" disabled selected style="color:orange">Select Pursuing Year </option>
                            <option *ngFor="let sec of monConst.academicYear" [value]="sec">
                                {{sec}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Student Name:</label>
                        <input type="text" placeholder="Student Name" class="form-control" formControlName="studentName" />
                    </div>
                    <!-- <div class="col-md-4">
                        <label>Student Roll Number </label>
                        <input type="text" placeholder="Student Roll Number " class="form-control" formControlName="studentRollNumber" />
                    </div> -->
                </div>
            </form>
            <div class="row pt-2">
                <div class="col-md-12 text-right">
                    <button type="button" class="globalBtn submitBtn" (click)="searchData()">Search</button>
                    <button type="button" class="globalBtn clearBtn">Reset</button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8" *ngIf="listOfStudents[0]">
                    <h5 class="headingValue">Course Progression Student list - {{collegeName}}
                    </h5>&nbsp;
                </div>
                <div class="col-md-4 text-right">
                    <button class="globalBtn submitBtn" (click)="passOut()">PassOut</button>
                </div>
            </div>
            <hr>
            <div class="row" style="padding-top: 10px;padding-bottom: 50px;">
                <div class="col-md-12">
                    <div class="table-responsive-sm">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th><input type="checkbox" [value]="listOfStudents" (change)="allNonTrades($event)">
                                    </th>
                                    <th>Student Name</th>
                                    <th>Father Name</th>
                                    <th>Course</th>
                                    <th>Academic Year</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr *ngFor="let item of listOfStudents">
                                    <td>
                                        <div *ngIf="item.studentStatus.statusName ==='Completed'; else loggedOut">
                                            -
                                        </div>
                                        <ng-template #loggedOut>
                                            <input type="checkbox" [checked]="item.isSelected" (change)="selectedList($event,item.admissionId)">
                                        </ng-template>
                                    </td>
                                    <td>{{item.firstName}} {{item.lastName}}</td>
                                    <td>
                                        {{item.fatherName !== null ? (item.fatherName) : '-'}}
                                    </td>
                                    <td>
                                        {{item.collegeCourseOfferedSepcialisation!==null ? (item.collegeCourseOfferedSepcialisation.course.courseName) :'-'}}
                                    </td>
                                    <td>{{item.academicYear}}</td>
                                    <td>
                                        <!-- <span class="text-primary">{{item.studentStatus !== null ? (item.studentStatus.statusName) :'-'}}</span> -->
                                        <span class="badge badge-pill badge-success" style="color: white;">{{item.studentStatus.statusName}}</span>
                                    </td>
                                    <td>

                                        <div class="checkbox">
                                            <label data-toggle="modal" class="btn btn-primary" data-target="#myModall" (click)="getList(item.admissionId,item.studentStatus.statusName)">
                                                <i class="fa fa-eye"></i>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr *ngIf="listOfStudents.length === 0">
                                    <td colspan="7" style="text-align: center;padding: 50px !important;">No Data Available in Table</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-right" *ngIf="pageCount>1">
                    <ul class="pagination float-right">
                        <li class="page-item hoverActive"><a class="page-link " [class.my-class]="rowId === 0" (click)="previ()"><i class="fas fa-chevron-left"> </i></a></li>
                        <li class="page-item"><a class="page-link">{{rowId+1}}/{{pageCount}}</a></li>
                        <li class="page-item hoverActive"><a class="page-link" [class.my-class]="rowId+1 === pageCount" (click)="next()"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="myModall" style="z-index: 99999999">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="admissionDetails">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title headingValue">Progression Summary - <b style="color: #000">{{admissionDetails.studentAdmission.firstName}}</b></h4>
                <button type="button" class="close" data-dismiss="modal" style="cursor: pointer;" #dismissModal>&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <div class="table-responsive-sm" style="width: 100%;">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Pursuing Yr</th>
                                        <th>Start Date</th>
                                        <th>Promotion Date</th>
                                        <th>Total Marks</th>
                                        <th>Marks Obtained</th>
                                        <th>Supporting Doc</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of admissionDetails.studentCourseProgress">
                                        <td>{{item.studentPromotedFrom}}</td>
                                        <td>{{item.createdDate}}</td>
                                        <td> {{item.promotedDate!==null ? item.promotedDate :'-'}}</td>
                                        <td>{{item.totalMarks}}</td>
                                        <td>{{item.marksObtained}}</td>
                                        <td>{{item.documentLocation !== null ? item.documentLocation :'-'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="globalBtn submitBtn" (click)="passOut()" *ngIf="popupStatus !== 'Completed'">PassOut</button>
                    <button type="button" class="globalBtn clearBtn" data-dismiss="modal">Cancel</button>
                </div>

            </div>
        </div>
    </div>




</div>