/* .card {
    border: 1px solid #495057;
} */

.iconCard {
    height: 40px;
    width: 150px;
    box-shadow: 1px 1px 5px #88888852;
    border-radius: 5px;
}

p.c {
    word-break: break-all;
}

.wordBreak {
    word-break: break-all;
}
.iconCard {
    height: 40px;
    width: 150px;
    box-shadow: 1px 1px 5px #88888852;
    border-radius: 5px;
}