<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="headingValue">View Receipt </h5>
                    <!-- ( <span>{{status}}</span> ) -->
                </div>
                <div class="col-md-6 text-right">
                    <button type="button" class="btn btn-success reponsivebtn" data-toggle="modal"
                        data-target="#myModal" style="cursor: pointer;" *ngIf="reassignbutton"><span><i
                                class="fas fa-user-plus"></i></span>&nbsp;ReAssign</button>&nbsp;
                    <button type="button" class="btn btn-success reponsivebtn" data-toggle="modal"
                        data-target="#myModal" *ngIf="assignbutton" style="cursor: pointer;"><span><i
                                class="fas fa-user-plus"></i></span>&nbsp;Assign</button>&nbsp;
                    <button type="button" class="btn btn-outline-primary" (click)="back()"
                        style="cursor: pointer;"><span><i class="fas fa-angle-left"></i></span>&nbsp;Back</button>
                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-4">
                    <b> <label>Diary Year</label></b>
                    <p>{{receiptData.receiptDairyYear}}</p>
                </div>
                <div class="col-md-4">
                    <b> <label>Diary Date</label></b>
                    <p>{{receiptData.receiptDairyDate}}</p>
                </div>
                <div class="col-md-4">
                    <b> <label>Ref.Id</label></b>
                    <p>{{receiptData.receiptRefId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <b> <label>Receipt Type</label></b>
                    <p>{{receiptData.receiptType.name}}</p>
                </div>
                <div class="col-md-4">
                    <b> <label>Receipt Category</label></b>
                    <p>{{receiptData.categoryCode.name}}</p>
                </div>
                <div class="col-md-4">
                    <b> <label>Receipt Language</label></b>
                    <p>{{receiptData.receiptLanguageId.name}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <b> <label>Date Received</label></b>
                    <p>{{receiptData.dairyReceivedDate}}</p>
                </div>
                <!-- <div class="col-md-4">
                    <b> <label>Recepient Name</label></b>
                    <p>{{receiptData.}}</p>
                </div> -->

            </div>
            <div class="row">
                <div class="col-md-4">
                    <b> <label>Sender Name</label></b><br>
                    <b>
                        <p>{{receiptData.senderName}}</p>
                    </b>
                    <p class="c">{{receiptData.senderAddress.line1}},&nbsp;India,
                        &nbsp;{{stateName}},&nbsp;{{cityName}},
                        &nbsp;,{{receiptData.senderAddress.zipCode}}</p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 wordBreak">
                    <b> <label>Subject</label></b>
                    <p>{{receiptData.receiptSubject}} </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <b> <label>Enclosure Details</label></b>
                    <p>{{receiptData.enclosureDetails}}
                    </p>
                </div>
            </div>
            <!-- ///// -->
            <div class="row">
                <div class="col-md-12">
                    <h6 class="headingValue"> Evidence Documents</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2" *ngFor="let document of receiptData.receiptDocuments ;let i=index">
                    <div class="iconCard" (click)="getDocumentId(document)">
                        <a href="{{downloadUrl}}"> <i class="far fa-file-alt docIcons"></i>
                            <span style="   
    cursor: pointer;
">file{{i+1}}<i class="fas fa-cloud-download-alt" style=" cursor: pointer;color: #3D78BE;"></i></span></a>
                    </div>
                </div>
            </div><br>

            <hr style="color:black">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right">
                    <i class="fa fa-plus-circle" data-toggle="collapse" data-target="#demo" title="click to expand"
                        style="cursor:pointer"></i>
                </div>
            </div>
            <!-- //Integrate -->
            <div id="demo" class="collapse">
                <div class="row">
                    <div class="col-md-6" *ngFor="let history  of assigngedUserDetails">
                        <h5 class="headingValue">Assign Receipt To</h5>
                        <p>{{history.lastModifiedDate}}</p><br>
                        <b><label>{{history.assignedToUserId.roles[0].roleName}}</label></b>
                        <p>{{ history.assignedToUserId.firstName}}</p>
                        <b><label>Comments</label></b>
                        <p>{{history.comments}} </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <i class="fas fa-minus-circle"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title headingValue">Assign To</h4>
                    <button type="button" class="close" data-dismiss="modal" style="cursor: pointer;">&times;</button>
                </div>

                <!-- Modal body -->
                <form [formGroup]="assignReceiptForm">
                    <div class="modal-body">

                        <div class="row">

                            <select class="form-control" formControlName="sectionIncharge">
                                <option value="" disabled selected>Select SectionIncharge</option>
                                <option *ngFor="let user of userArray" [value]="user.userId">
                                    {{user.firstName}} &nbsp;{{user.middleName}}&nbsp;{{user.lastName}} </option>
                            </select>
                            <div *ngIf="assignReceiptForm.controls['sectionIncharge'].hasError('required') && assignReceiptForm.controls['sectionIncharge'].touched"
                                class="failed-validation" style="color:red;">
                                SectionIncharge Required
                            </div>
                        </div><br>
                        <div class="row">
                            <textarea rows="5" cols="20" formControlName="comments" placeholder="comments"
                                class="form-control" placeholder="Comments">Write Comments</textarea>

                            <div *ngIf="assignReceiptForm.controls['comments'].hasError('required') && assignReceiptForm.controls['comments'].touched"
                                class="failed-validation" style="color:red;">
                                Comment Required
                            </div>
                        </div>

                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" *ngIf="assignbutton" class="btn btn-success" data-dismiss="modal"
                            style="cursor: pointer;" [disabled]="!assignReceiptForm.valid"
                            (click)="assignReceipt()">Assign</button>
                        <button *ngIf="reassignbutton" type="button" class="btn btn-success" data-dismiss="modal"
                            style="cursor: pointer;" [disabled]="!assignReceiptForm.valid"
                            (click)="reAssignReceipt()">ReAssign

                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>