<!-- <div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-2">
                    <h5 class="headingValue">Correction List</h5>
                </div>

                <div class="col-md-3 text-right">
                    <input type="text" ngxDaterangepickerMd placeholder="Select Date" style="width: 200px;" class="form-control " />
                    <label class="fa fa-calendar fa-lg imagecalender calendar"></label>
                </div>
                <div class="col-md-3">
                    <select class="form-control">
                      <option value="" disabled selected>Select Status</option>
                      <option value="Corrected">Corrected</option>
                      <option value="UnderCorrection">UnderCorrection</option>
                  </select>
                </div>


                <div class="col-md-3 text-right">
                    <div class="form-group">
                        <div class="icon-addon" style="height: 0;">
                            <input type="text" placeholder="Search" class="form-control">

                            <label class="fas fa-search iconValue"></label>
                        </div>
                    </div>
                </div>



            </div>

            <hr>

            <div class="row" style="padding-top: 10px;padding-bottom:50px;">
                <div class="col-md-12">
                    <div class="table-responsive-sm">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <th>Ref.ID</th>
                                    <th> Type</th>

                                    <th>Sender Name</th>
                                    <th style="width:15%">To Organization</th>
                                    <th style="width:15%"> Date</th>

                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr [routerLink]="['../correctionView', '1']">
                                    <td>ACA/NC/2020/87 </td>
                                    <td>Email</td>

                                    <td>Mr.Ravi</td>
                                    <td>ABC College</td>
                                    <td>1 April 2020 </td>

                                    <td> <span class="text-success" style="color: white;">Corrected</span>
                                    </td>
                                    <td style="text-align: center;">--</td>

                                </tr>
                                <tr (click)="view()">
                                    <td>ACA/NC/2020/989</td>
                                    <td>Print</td>

                                    <td>Kiran</td>
                                    <td>ABC College</td>
                                    <td>29 March 2020 </td>

                                    <td> <span class="text-warning" style="color: white;">UnderCorrection</span>

                                    </td>
                                    <td style="text-align: center;"><span><i class="fas fa-edit" (click)="edit()"
                                              style="color:#74AEB5"></i></span>&nbsp;
                                    </td>
                                </tr>
                                <tr (click)="view()">
                                    <td>ACA/NC/2020/900</td>
                                    <td>Both</td>

                                    <td>Rahul</td>
                                    <td>ABC College</td>
                                    <td>22 march 2020 </td>

                                    <td> <span class="text-success" style="color: white;">Corrected</span>
                                    </td>

                                    <td style="text-align: center;">--</td>
                                </tr>
                                <tr (click)="view()">
                                    <td>ACA/NC/2020/997 </td>
                                    <td>Email</td>

                                    <td>Viktam Kumar</td>
                                    <td>Gandhi College</td>
                                    <td>22 march 2020 </td>

                                    <td> <span class="text-warning" style="color: white;">UnderCorrection</span>
                                    </td>
                                    <td style="text-align: center;"><span><i class="fas fa-edit" (click)="edit()"
                                              style="color:#74AEB5"></i></span>&nbsp;
                                    </td>
                                </tr>


                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-5">
                    <h5 class="headingValue">Correction List</h5>
                </div>
                <div class="col-md-3 text-right">
                    <input type="text" ngxDaterangepickerMd placeholder="From Date - To Date" class="form-control " (change)="selectDateRange($event)" />
                    <label class="fa fa-calendar fa-lg imagecalender calendar"></label>
                </div>
                <div class="col-md-2 text-right ">
                    <select class="custom-select-sm " class="form-control " (change)="statsuList($event.target.value) ">
                        <option value=" " disabled selected style="color:orange ">Select Section</option>
                        <option *ngFor="let sc of jsaConst.ssaStatusList " [value]="sc " >
                            {{sc}}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 text-right ">
                    <div class="form-group ">
                        <div class="icon-addon " style="height: 0; ">
                            <input type="text " placeholder="Search " class="form-control " (keyup)="getSearchCorrectionList($event.target.value) ">

                            <label class="fas fa-search iconValue "></label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row " style="padding-top: 10px;padding-bottom:50px; ">
                <div class="col-md-12 ">
                    <div class="table-responsive-sm ">
                        <table class="table table-bordered table-hover ">
                            <thead class="thead-light ">
                                <tr>
                                    <th *ngFor="let item of jsaConst.dashboardTable ">{{item}}</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allCorrectionList ">
                                    <td>{{item.dakDispatch.sectionRefNo !== null ? (item.dakDispatch.sectionRefNo) : '-'}} </td>
                                    <td>{{item.dakDispatch.dispatchVia !== null ? (item.dakDispatch.dispatchVia.name) : '-'}} </td>
                                    <td>{{item.dakDispatch.senderName !== null ? (item.dakDispatch.senderName) : '-'}} </td>
                                    <!-- <td>{{item.senderName !== null ? (item.senderName) : '-'}} </td> -->
                                    <td>{{item.createdDate !== null ? (item.createdDate) : '-'}} </td>
                                    <td>{{item.dakDispatch.dispatchConfidentialityType !== null ? (item.dakDispatch.dispatchConfidentialityType.name) : '-'}} </td>
                                    <td>{{item.dakDispatch.dakStatus !== null ? (item.dakDispatch.dakStatus.statusName) : '-'}} </td>
                                    <!-- <td> <span class="text-success " style="color: white; ">Created</span>
                                    </td> -->
                                    <td>
                                        <i class="fas fa-pencil-alt " style="color:#74AEB5 " [routerLink]="[ '../correctionView', item.dakDispatch.dispatchId] "></i>

                                    </td>

                                </tr>
                                <tr *ngIf="allCorrectionList.length===0 ">
                                    <td colspan="8 " style="text-align: center;padding: 50px !important; ">No Data Available in Table</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-right " *ngIf="pageCount>1">
                    <ul class="pagination float-right">
                        <li class="page-item hoverActive"><a class="page-link " [class.my-class]="rowId === 0" (click)="previ()"><i class="fas fa-chevron-left"> </i></a></li>
                        <li class="page-item"><a class="page-link">{{rowId+1}}/{{pageCount}}</a></li>
                        <li class="page-item hoverActive"><a class="page-link" [class.my-class]="rowId+1 === pageCount" (click)="next()"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>