<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">
                <div class="col-md-9">
                    <h5 class="headingValue">Agenda Dashboard</h5>
                </div>
                <div class="col-md-3 text-right">
                    <div class="form-group">
                        <div class="icon-addon" style="height: 0;">
                            <input type="text" placeholder="Search" class="form-control searchValue" [(ngModel)]="myProperty" (keyup)="serachValue(myProperty)">
                            <label class="fas fa-search iconValue"></label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row" style="padding: 15px 0px;" *ngIf="dashboardCount">
                <div class="col-md-2 text-center">
                    <div class="Count">
                        {{dashboardCount.received}}
                    </div>
                    <div class="Value">
                        <p class="subHeading">Received</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="Count" style="color: #21CCC0;">
                        {{dashboardCount.decisionTaken}}
                    </div>
                    <div class="Value">
                        <p class="subHeading">Decision Taken</p>
                    </div>
                </div>
                <div class="col-md-2 text-center">
                    <div class="Count" style="color: #21CCC0;">
                        {{dashboardCount.pendingDecision}}

                    </div>
                    <div class="Value">
                        <p class="subHeading">Pending Decision</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="table-responsive-sm">
                        <table class="table table-bordered table-hover">
                            <thead class="theadRow thead-light">
                                <tr>
                                    <th>Agenda Item No</th>
                                    <th>Ltr Number</th>
                                    <th>Item Subject</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="tbodyRow">
                                <tr *ngFor="let item of allAgendaList" [routerLink]="['../agenda', item.complaintId]" [state]="item.agendaStatus.complaintStatusName">
                                    <td> {{item.itemNo}} </td>
                                    <td>{{item.letterNo}} </td>
                                    <td>{{item.itemSubject}} </td>
                                    <td>{{item.createdDate}}</td>
                                    <td>
                                        <span class="badge badge-pill badge-warning" style="color: white;width: 120px !important;" *ngIf="item.agendaStatus.complaintStatusName==='INPROGRESS_EXECUTIVECOM'">
                                        EC Action
                                     </span>
                                        <span class="badge badge-pill badge-success" style="color: white;width: 120px !important" *ngIf="(item.agendaStatus.complaintStatusName==='COMPLETED_DECISIONTAKENBYEXECOM') || ((item.agendaStatus.complaintStatusName==='INPROGRESS_OTHERSECTION'))">
                                            EC Action </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 text-right" *ngIf="pageCount>1">
                    <ul class="pagination float-right">
                        <li class="page-item hoverActive"><a class="page-link " [class.my-class]="rowId === 0" (click)="previ()"><i class="fas fa-chevron-left"> </i></a></li>
                        <li class="page-item"><a class="page-link">{{rowId+1}}/{{pageCount}}</a></li>
                        <li class="page-item hoverActive"><a class="page-link" [class.my-class]="rowId+1 === pageCount" (click)="next()"><i class="fas fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>