 <div class="row">
            <div class="col-md-12">
            	<div class="card">
               <h5 class="headingValue">Dashboard</h5>
           </div>
            </div>
         </div>
         <div class="container">
    <div class="row">
        
    	<div class="col-md-4 col-xl-4">
            <div class="card bg-c-green order-card">
                <div class="card-block">
                    <h6 class="m-b-20 head-size">Completed</h6>
                    <h2 class="text-right"><i class="fa fa-check f-left"></i><span>60</span></h2>
                   
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20 head-size">Pending</h6>
                    <h2 class="text-right"><i class="fa fa-clock f-left"></i><span>2</span></h2>
                   
                </div>
            </div>
        </div>
         <div class="col-md-4 col-xl-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h6 class="m-b-20 head-size">Upcoming</h6>
                    <h2 class="text-right"><i class="fa fa-list f-left"></i><span>2</span></h2>
                   
                </div>
            </div>
        </div>
        
        
        
        <div class="col-md-4 col-xl-2">
            &nbsp;
        </div>
        
        
	</div>
</div>