<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">

                <div class="col-md-4">
                    <h5 class="headingValue">Other Section Dispatches</h5>

                </div>


            </div>


            <hr>
            <div class="row" style="padding-top: 10px;padding-bottom: 50px;">

                <div class="col-md-12">
                    <div class="table-responsive-sm">
                        <table class="table table-bordered table-hover">
                            <thead class="thead-light">
                                <tr>
                                    <!-- <th>Sender</th> -->
                                    <th>Reference/File Number</th>
                                    <th>Note SheetDate</th>
                                    <th>Subject</th>
                                    <th>Status</th>
                                    <!-- <th>Action</th> -->


                                </tr>
                            </thead>
                            <!-- <tbody>
                                <tr>
                                    <td>Mukesh</td>
                                    <td>DCI/ARPL/BDS/01/2020-21 </td>
                                    <td>13-08-2020</td>
                                    <td>Admisstion BDS</td>
                                    <td>
                                        <i class="fas fa-edit" style="color:#74AEB5" title="View">
                                        </i>&nbsp;
                                    </td>

                                </tr>
                                <tr>
                                    <td>Rakesh</td>
                                    <td>DCI/ARPL/MDS/01/2020-21 </td>
                                    <td>20-08-2020</td>
                                    <td>Admisstion MDS</td>
                                    <td>
                                        <i class="fas fa-edit" style="color:#74AEB5" title="View"
                                        [routerLink]="['/main/internal/inbound/sectionincharge/OtherSecDispatchView/', 1]">

                                        </i>&nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>Abhinav</td>
                                    <td>DCI/ARPL/BDS/02/2020-21 </td>
                                    <td>02-08-2020</td>
                                    <td>Admisstion BDS</td>
                                    <td>
                                        <i class="fas fa-edit" style="color:#74AEB5" title="View">
                                        </i>&nbsp;

                                    </td>


                                </tr>
                            </tbody> -->
                            <tbody>
                                <tr>
                                    <!-- <td>Mukesh</td> -->
                                    <td>
                                        {{this.refno ? (this.refno):'-'}}
                                    </td>
                                    <td>{{ this.noteSheetDate}}</td>
                                    <td>{{this.subject ?(this.subject) : '-'}} </td>
                                    <td>
                                        <span class="text-success" style="color: white;">
                                            {{this.status}}
                                        </span>
                                    </td>

                                </tr>

                            </tbody>
                        </table>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>