/***
Bootstrap4 css with Tabs by @paju
***/

.card {
    background-color: #ffffff;
    border: 1px solid rgba(0, 34, 51, 0.1);
    box-shadow: 2px 4px 10px 0 rgba(0, 34, 51, 0.05), 2px 4px 10px 0 rgba(0, 34, 51, 0.05);
    border-radius: 0.15rem;
    padding: 2px !important;
}


/* Tabs Card */

.tab-card {
    border: 1px solid #eee;
}

tr {
    cursor: default;
}


/* Default mode */

.tab-card-header>.nav-tabs {
    border: none;
    margin: 0px;
}

.tab-card-header>.nav-tabs>li {
    margin-right: 2px;
}

.tab-card-header>.nav-tabs>li>a {
    border: 0;
    border-bottom: 2px solid transparent;
    margin-right: 0;
    color: #000 !important;
    padding: 2px 15px;
}

.active {
    border-bottom: 2px solid #007bff !important;
    background-color: transparent !important;
}

.tab-card-header>.nav-tabs>li>a:hover {
    color: #007bff;
}

.tab-card-header>.tab-content {
    padding-bottom: 0;
}


/* .pull-right {} */

.iconValue {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #00000087;
}

.hr-primary {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 97%;
}

@keyframes check {
    0% {
        height: 0;
        width: 0;
    }
    25% {
        height: 0;
        width: 10px;
    }
    50% {
        height: 20px;
        width: 10px;
    }
}

.checkbox {
    background-color: #fff;
    display: inline-block;
    height: 17px;
    margin: 2px 5px;
    width: 17px;
    border-radius: 4px;
    border: 1px solid #ccc;
    float: left;
}

.checkbox span {
    display: block;
    height: 28px;
    position: relative;
    width: 28px;
    padding: 0
}

.requiredClass {
    color: red;
}

.checkbox span:after {
    -moz-transform: scaleX(-1) rotate(135deg);
    -ms-transform: scaleX(-1) rotate(135deg);
    -webkit-transform: scaleX(-1) rotate(135deg);
    transform: scaleX(-1) rotate(135deg);
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-right: 3px solid #fff;
    border-top: 3px solid #fff;
    content: '';
    display: block;
    height: 12px;
    left: 1px;
    position: absolute;
    top: 7px;
    width: 7px
}

.checkbox span:hover:after {
    border-color: #999
}

.checkbox input {
    display: none
}

.checkbox input:checked+span:after {
    -webkit-animation: check .8s;
    -moz-animation: check .8s;
    -o-animation: check .8s;
    animation: check .8s;
    border-color: #555
}

.checkbox input:checked+.default:after {
    border-color: #444
}

.checkbox input:checked+.primary:after {
    border-color: #2196F3
}

.checkbox input:checked+.success:after {
    border-color: #8bc34a
}

.checkbox input:checked+.info:after {
    border-color: #3de0f5
}

.checkbox input:checked+.warning:after {
    border-color: #FFC107
}

.checkbox input:checked+.danger:after {
    border-color: #f44336
}


/* Deleet mOdal  */

.modal-confirm {
    color: #636363;
    width: 400px;
}

.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
}

.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}

.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}

.modal-confirm .modal-body {
    color: #999;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    margin: 0 auto;
}

.modal-confirm .modal-footer a {
    color: #999;
}

.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    /* border: 3px solid #f15e5e; */
}

.ag-paging-panel {
    display: none !important;
}

.modal-confirm .icon-box .remove {
    color: #f15e5e;
    font-size: 70px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .icon-box .add {
    color: #29b765;
    font-size: 70px;
    display: inline-block;
    margin-top: 13px;
}

.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}

.modal-confirm .btn-info {
    background: #c1c1c1;
}

.modal-confirm .btn-info:hover,
.modal-confirm .btn-info:focus {
    background: #a8a8a8;
}

.modal-confirm .btn-danger {
    background: #f15e5e;
}

.modal-confirm .btn-danger:hover,
.modal-confirm .btn-danger:focus {
    background: #ee3535;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

.form-check-label {
    margin: 0 10px !important;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hoverActive {
    cursor: pointer !important;
}

.my-class {
    color: red !important;
    /* pointer-events: none; */
}

.my-class:hover {
    cursor: no-drop !important;
}

.style {
    width: 152px;
}

.c-red {
    color: red
}


/* .rolesclass{
    margin-top: -45px;
} */

.textAlignStyling {
    margin-left: 264px;
}

.icon {
    float: right;
    margin-right: 6px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.addingStyle {
    color: #29b765;
    font-size: 70px;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
    padding: 15px 25px 12px 26px;
}

.success {
    border-color: #4CAF50;
    color: green;
}

.badge-pill {
    font-size: 12px !important;
    height: 30px !important;
    width: 110px !important;
    border-radius: 4px !important;
    padding-top: 10px !important;
}