.badge-pill {
    font-size: 12px !important;
    height: 30px !important;
    /* width: 120px !important; */
    border-radius: 4px !important;
    padding-top: 10px !important;
}

.form-control {
    text-transform: capitalize !important;
}

.fas {
    padding: 0 0 0 5px;
}

a:hover {
    color: #ffffff !important;
}