.badge-pill {
    font-size: 12px !important;
    height: 30px !important;
    width: 110px !important;
    border-radius: 4px !important;
    padding-top: 10px !important;
}

table thead tr th,
td {
    width: 15% !important;
}