<!-- Assistant Secretery -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row" style="padding-bottom: 0px;">
                <div class="col-md-6">
                    <h5 class="headingValue">Discussion & Decision on Agenda Item</h5>
                </div>

            </div>
            <hr>
            <div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="heading">
                            Agenda Item No
                        </div>
                        <div class="subheadingValue">
                           6.1(1)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="heading">
                            Section
                        </div>
                        <div class="subheadingValue">
                           ARPL
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="heading">
                            Sub-Section
                        </div>
                        <div class="subheadingValue">
                            Grievance
                            <!-- {{agendaDetails.agendaSubSectionDTO.agendaSubSectionName}} -->
                        </div>
                    </div>
                      <!--  <div class="col-md-3">
                        <div class="heading">
                             Case Item History
                        </div>
                        <div class="subheadingValue" style="cursor: pointer;" [routerLink]="['../../../caseitem']">
                             View Case Item History
                            
                        </div>
                    </div> -->
                </div>
            </div>
            <hr>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            Subject
                        </div>
                        <div class="subheadingValue">
                           Sample Subject -1
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            Matter
                        </div>
                        <div class="subheadingValue">
                           Sample Matter for the agenda
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <form>

                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            Discussions
                        </div>
                        <div class="subheadingValue">
                            <textarea class="form-control" rows="4" >This is sample Discussions given by EC</textarea>
                          <!--   <div *ngIf=" submitted && f.discussion.errors" class="invalid-feedback">
                                <div *ngIf=" submitted && f.discussion.errors.required">
                                    {{formError.discussion}}
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="heading">
                            Decision
                        </div>
                        <div class="subheadingValue">
                            <div class="scroll">
                                
                            </div>
                             <textarea class="form-control" rows="4" >This is sample Decision given by EC</textarea>
                        </div>
                    </div>
                </div>
                <div>
                    <hr>
                    <div class="row ">
                        <div class="text-center col-md-12">
                            <button class="globalBtn reappealBtn" style="width: 170px">Previous Item</button>
                            
                            <button class="globalBtn forwardBtn"  style="width: 170px">Decide &
                                Save</button>
                            <button class="globalBtn forwardBtn"  style="width: 188px">Decide & Next Item</button>
                            <button class="globalBtn reappealBtn">Next Item</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- </div> -->
