<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row">

                <div class="col-md-8">
                    <h5 class="headingValue">View NoteSheet
                        
                    </h5>
                </div>
                <div class="col-md-4 text-right">
                    <div class="row">
                       
                        <div class="col-md-12 text-right">
                            <button type="button" class="globalBtn submitBtn dropdown-toggle" data-toggle="dropdown">
                                Action
                            </button>
                            <div class="dropdown-menu">
                                
                                <a class="dropdown-item"  style="cursor: pointer;" data-toggle="modal" data-toggle="modal" data-target="#uploadfile">Update and Dispatch </a>
                                 <a class="dropdown-item"  style="cursor: pointer;">Print Address </a>
                                 
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            
            <div >
                <div class="row">
                    <div class="col-md-4">
                        <b><label>Section </label></b>
                        <p>Act regulations and policy matters section
                        </p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Sub Section </label></b>
                        <p>subSection1</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Subject Reference</label><br></b>
                        <p>BDS</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Year </label></b><br>
                        <p>2020</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Academic/Financial Year </label></b><br>
                        <p>2020 -2021</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Dispatch By Date</label></b><br>
                        <p>-</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Section Reference Number </label></b>
                        <p>DCI/ARPL/SS/BDS/263/2020/2020-21</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="headingValue">Categories</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b><label>Category </label></b>
                        <p>VIP Reference</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Language </label></b>
                        <p>English</p>
                    </div>

                    <div class="col-md-4">
                        <b><label>Urgency </label><br></b>
                        <p>Urgent</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Confidentiality </label></b><br>
                        <p>Confidential</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="headingValue">Sender Section</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b><label>Designation </label><br></b>
                        <p>Secretary</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Sender Name </label></b>
                        <p>SabyaSachi</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="headingValue">NoteSheet Contents</h5><br>
                        <p>Further, it is also to inform you that the DCI has developed an online module to upload the requisite
information / documents on DCI website to reduce the paper work and to scrutiny the above data efficiently.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="headingValue">With DFA - Yes</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b><label>DFA Subject </label></b>
                        <p>EASURES FOR CURBING THE MENACE OF RAGGING IN EDUCATIONAL INSTITUTIONS —</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b><label>DFA Contents &nbsp;
                            </label></b>
                        <p>I am directed to sy that as per DCI Regulations on Curbing the Menace of Ragging in Dental
Colleges, 2009, it is the responsibility of all the institution to ensure that no incident of ragging takes place in
their dental institution and measures taken to curb it may be reviewed. 
</p>
                    </div>
                   
                </div>
               

                <div class="row">
                    <div class="col-md-6">
                        <h5 class="headingValue">To Address</h5>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        <b><label>Dispatch Via </label></b>
                        <p>Physical</p>
                    </div>

                    <div class="col-md-4">
                        <b> <label>Recipient Name </label></b><br>
                        <p>The Principals/Heads of all the Dental Colleges in the Country</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Designation </label></b><br>
                        <p>-</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Email Id </label></b><br>
                        <p>sample@gmail.com</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Contact Number </label></b><br>
                        <p>9956282336</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Category / Others </label><br></b>
                        <p>-</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Address </label><br></b>
                        <p>-</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="headingValue">Endorsee Address</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <b><label>Dispatch Via </label></b>
                        <p>Both</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Endorsee Name </label></b><br>
                        <p>shanmuk</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Email Id </label></b><br>
                        <p>shanmuk@gmail.com</p>
                    </div>
                    <div class="col-md-4">
                        <b> <label>Contact Number </label></b><br>
                        <p>9854545448</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Category / Others </label><br></b>
                        <p>SDC</p>
                    </div>
                    <div class="col-md-4">
                        <b><label>Address </label><br></b>
                        <p>amaravathi amaravathi
                            <br> guntur, Andhrapradesh,
                            <br> India, 522212
                        </p>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h5 class="headingValue">CC Address</h5><br>
                        <p>Act regualtions and policy matters section</p>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-md-6">
                        <label> Uploaded Supporting documents</label>
                        <hr>
                        <div >
                            <div class="iconCard">
                                <span><i class="far fa-file-alt docIcons"></i>1</span>
                                <a  class="downloadView">
                                    <i class="fas fa-cloud-download-alt" style=" cursor: pointer;color: #3D78BE;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Type</label>
                        <p>Supporting</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

  


    <!-- Upload PDF -->
        <div class="modal" id="uploadfile">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title headingValue">Update and Dispatch</h4>
                    <button type="button" class="close" #approveDismissModal data-dismiss="modal" style="cursor: pointer;">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="row" style="margin-bottom: 10px">
                            <label>Select Mode <span class="text-danger">*</span></label>
                            <select class="form-control">
                            	<option> Ordinary Post</option>
                            	<option> Registered Post</option>
                            	<option> Speed Post</option>
                            </select>
                        </div>
                          <div class="row"  style="margin-bottom: 10px">
                            <label>Barcode  <span class="text-danger">*</span></label>
                            <input type="text" name="" class="form-control" placeholder="Enetr Barcode">
                        </div>
                        <div class="row" style="margin-bottom: 10px">
                            <label>Weight  <span class="text-danger">*</span></label>
                            <input type="text" name="" class="form-control" placeholder="Enetr Weight">
                        </div>
                        
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="globalBtn acceptBtn" >Dispatch</button>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Return Receipt Modal Ends -->


    <!-- Modal -->
    <div class="modal fade" id="ecmodal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title headingValue">Circulate To EC</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label>Approval For EC Circulation <span class="aseticcolor">*</span></label>&nbsp;
                        <label class="radio-inline"><input type="radio" name="optradio"
                                checked>&nbsp;Agree</label>&nbsp;
                        <label class="radio-inline"><input type="radio" name="optradio">&nbsp;DisAgree</label>
                    </div><br>
                    <div class="row">
                        <label>Comments <span class="aseticcolor">*</span></label>&nbsp;
                        <textarea class="form-control" rows="5" cols="20"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

   