.smallCard {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2) !important;
    transition: 0.3s !important;
    margin: 5px 0;
    padding: 10px;
}

.smallCard:hover {
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2) !important;
}

.form-control {
    text-transform: capitalize !important;
}