<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="row" style="padding: 0 !important;">
                <div class="col-md-6">
                    <h5 class="headingValue">Raise Complaint</h5>
                </div>
            </div>
            <hr>

            <form [formGroup]="complaintForm">
                <div class="form-group row required">
                    <label class="control-label col-md-4 text-right">Complaint Type</label>
                    <div class="col-md-4">
                        <select class="custom-select-sm" class="form-control" formControlName="complaintType" [ngClass]="{ 'is-invalid':  submitted && f.complaintType.errors }">
                            <option value="" disabled selected style="color:orange">Select Complaint Type</option>
                            <option *ngFor="let ct of complaintTypeList" [value]="ct.complaintTypeID">
                                {{ct.complaintTypeName}}
                            </option>
                        </select>
                        <div *ngIf=" submitted && f.complaintType.errors && requiredErrors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.complaintType.errors.required">
                                {{requiredErrors.complaintType}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="control-label col-md-4 text-right">Complaint Against</label>
                    <div class="col-md-4">
                        <select class="custom-select-sm" class="form-control" formControlName="complaintAgaint" (change)="selectingAgainst($event.target.value)" [ngClass]="{ 'is-invalid':  submitted && f.complaintAgaint.errors }">
                            <option value="" disabled selected style="color:orange">Select Complaint Against</option>
                            <option *ngFor="let ca of complaintAgainstList" [value]="ca.complaintAgainstTypeId">
                                {{ca.name}}
                            </option>
                        </select>
                        <div *ngIf=" submitted && f.complaintAgaint.errors && requiredErrors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.complaintAgaint.errors.required">
                                {{requiredErrors.complaintAgainst}}
                            </div>
                        </div>
                    </div>
                    <!-- For DCI Drop Down -->
                    <div class="col-sm-2" *ngIf="sectionList.length!==0">
                        <select class="control-label custom-select-sm" class="form-control" formControlName="sectionValue" (change)="selecSection($event.target.value)">
                            <option value="" disabled selected style="color:orange">Select Section</option>
                            <option *ngFor="let scL of sectionList" [value]="scL.sectionId">
                                {{scL.sectionName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2" *ngIf="(sectionList.length !==0) && (selId.length!==0)">
                        <select class="control-label custom-select-sm" class="form-control" formControlName="secValById">
                            <option value="" disabled selected style="color:orange">Select User </option>
                            <option *ngFor="let si of selId" [value]="si.userId">
                                {{si.firstName}}
                            </option>
                        </select>
                    </div>

                    <!-- state list for Colleage  -->
                    <div class="col-sm-2" *ngIf="(listofState.length!==0) && (seletedAgainast === '3')">
                        <select class="control-label custom-select-sm" class="form-control" formControlName="complaintState" (change)="chnageState($event.target.value)">
                            <option value="" disabled selected style="color:orange">College State</option>
                            <option *ngFor="let ls of listofState" [value]="ls.stateName">
                                {{ls.stateName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2" *ngIf="(listofEntity.length !==0) && listofState.length!==0">
                        <select class="custom-select-sm" class="form-control" formControlName="complaintDetail">
                            <option value="" disabled selected style="color:orange">Select College</option>
                            <option *ngFor="let le of listofEntity" [value]="le.entityMaster.entityMasterId">
                                {{le.entityMaster.name}}
                            </option>
                        </select>
                    </div>



                    <div class="col-sm-3" *ngIf="dentistName">
                        <input type="text" class="form-control" placeholder="Enter Subject" value="{{dentistName}}" readonly>

                    </div>
                </div>

                <div class="form-group row required">
                    <label class="control-label col-md-4 text-right">Subject </label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Enter Subject" formControlName="complaintSub" [ngClass]="{ 'is-invalid':  submitted && f.complaintSub.errors }">
                        <div *ngIf=" submitted && f.complaintSub.errors && requiredErrors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.complaintSub.errors.required">
                                {{requiredErrors.complaintSub}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row required">
                    <label class="control-label col-md-4 text-right">Complaint Description</label>
                    <div class="col-md-4">
                        <textarea class="form-control" rows="5" placeholder="Enter Complaint Description" formControlName="complaintDes" [ngClass]="{ 'is-invalid':  submitted && f.complaintDes.errors }"></textarea>
                        <div *ngIf=" submitted && f.complaintDes.errors && requiredErrors" class="invalid-feedback">
                            <div *ngIf=" submitted && f.complaintDes.errors.required">
                                {{requiredErrors.complaintDes}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-md-4 text-right">Evidence</label>
                    <div class="col-md-4">
                        <input type="file" class="form-control" id="file" multiple (change)="getFileDetails($event)" formControlName="evidence">
                        <div class="smallCard" *ngFor="let file of files; let i=index">
                            <div class="row">
                                <div class="col-md-10">
                                    {{i+1}}.{{file.name}}
                                </div>
                                <div class="col-md-2 text-right">
                                    <span class="fas fa-times" style="color:red;font-size: 20px;cursor: pointer;" (click)="removed(i)"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-8 text-right">
                        <button class="submitBtn globalBtn" type="button" (click)="createComplaint()">Submit</button>
                        <button class="globalBtn clearBtn" type="button" (click)="resetControls()">Clear</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<!--  searching Dentist List  -->

<button type="button" #openModal class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="display: none;">
    Open modal
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Dentists List</h4>
                <button type="button" class="close" data-dismiss="modal" #dismissModal>&times;</button>
            </div>

            <!-- Modal body (change)="dentistState($event.target.value)"-->
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-4">
                        <select class="control-label custom-select-sm" class="form-control" [(ngModel)]="stateId">
                            <option value="" disabled selected style="color:orange">Select State</option>
                            <option *ngFor="let ls of listofState" [value]="ls.stateId">
                                {{ls.stateName}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" placeholder="Search Dentist" [(ngModel)]="searchValue">

                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary" (click)="dentistState()">Search</button>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;" *ngIf="dentistDataShow">
                    <div class="col-md-12">
                        <div class="table-responsive-sm">
                            <table class="table table-bordered table-hover">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th style="width: 10%;">Dentist Id</th>
                                        <th style="width: 25%;">Dentist Name</th>
                                        <th colspan="2">Dentist Address</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of dentistList">
                                        <td>

                                            <div class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" id="{{item.dentistId}}" name="example1" (change)="selectedDentist(item.dentistId,item.firstName, item.lastName)">
                                                <label class="custom-control-label" for="{{item.dentistId}}"></label>
                                            </div>
                                        </td>
                                        <td>{{item.dentistId}} </td>
                                        <td>{{item.firstName}} {{item.lastName}}</td>
                                        <td colspan="2">{{item.addressLine1}}</td>
                                    </tr>
                                    <tr *ngIf="dentistList.length === 0">
                                        <td colspan="5" style="text-align: center;padding: 50px !important;">No Data Available in Table</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12 text-right" *ngIf="pageCount>1">
                        <ul class="pagination float-right">
                            <li class="page-item hoverActive"><a class="page-link " [class.my-class]="rowId === 0" (click)="previ()"><i class="fas fa-chevron-left"> </i></a></li>
                            <li class="page-item"><a class="page-link">{{rowId+1}}/{{pageCount}}</a></li>
                            <li class="page-item hoverActive"><a class="page-link" [class.my-class]="rowId+1 === pageCount" (click)="next()"><i class="fas fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->

        </div>
    </div>
</div>