.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .iconCard {
    height: 40px;
    width: 150px;
    box-shadow: 1px 1px 5px #88888852;
    border-radius: 5px;
}

.docIcons {
    margin: 10px 5px 0 15px;
    color: var(--main-heading-color);
}
.myaccordion {
  /* margin: 50px auto; */
  box-shadow: 0 0 7px  rgba(0, 0, 0, 0.1);
}



.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 18px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li+li {
  margin-top: 10px;
}

.btn-link:focus {
  outline: none !important;
  box-shadow: none !important;
}
.aseticcolor{
  color: red;
}
