.badge-pill {
    font-size: 12px !important;
    height: 30px !important;
    width: 110px !important;
    border-radius: 4px !important;
    padding-top: 10px !important;
}

.imagecalender {
    position: absolute;
    top: 8px;
    right: 60px;
}

.globalBtn {
    margin-top: 30px
}

@media screen and (max-width:726px) {
    .imagecalender {
        position: absolute;
        top: 8px;
        right: 130px;
    }
}